.header-container{
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100%;
  background-color: #bfd0e1;
}

.header-container > .chat-container{
  background-color: white;
  width: 30%;
  height: 80%;
}

.chat-container{
  height: 100%;
}

.chat-container > .chat-title{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: #6a96d8;
  height: 15%;
  padding: 0 5%;
}

.chat-container > .chat-title > .name{
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto',sans-serif;
  list-style-type: disc;
}

.chat-container > .chat-text > .chat-day{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #dddddd;
  padding: 2% 0;
}

.chat-text > .chat-day > .day{
  font-size: 90%;
  font-family: 'Roboto',sans-serif;
}

.time.one{
  display: flex;
  margin: 3% 3%;
  height: 1rem;
  align-items: flex-end;
}

.chat-text > .chat-one{
  display: flex;
  background-color: #e6edf6;
  width: 70%;
  height: 3rem;
  margin: 3% 3%;
  align-items: center;
}

.mensseger{
  display: flex;
  font-size: 100%;
  font-family: 'Roboto',sans-serif;
}


.time.two{
  display: flex;
  justify-content: flex-end;
  margin: 3% 3%;
  height: 1rem;
  align-items: flex-end;
}

.chat-container > .chat-text > .chat-two{
  display: flex;
  flex-direction: row;
  justify-content:center;
  background-color: #f2f2f2;
  width: 60%;
  height: 3rem;
  margin-left:37%;
  align-items: center;
}


.time.three{
  display: flex;
  justify-content:flex-start;
  margin: 3% 3%;
  height: 1rem;
  align-items: center;
}

.chat-container > .chat-text > .chat-three{
  display: flex;
  flex-direction: row;
  justify-content:center;
  background-color: #e6edf6;
  width: 30%;
  height: 2rem;
  align-items: center;
  margin:3% 3%;
}


.time.four{
  display: flex;
  justify-content: flex-end;
  margin: 3% 3%;
  height: 1rem;
  align-items: flex-end;
}

.chat-container > .chat-text > .chat-four{
  display: flex;
  flex-direction: row;
  justify-content:center;
  background-color: #ffc2c1;
  width: 60%;
  height: 3rem;
  margin-left:37%;
  align-items: center;
}

.chat-container > .chat-input{
  display: flex;
  justify-content:space-around;
  align-items: flex-end;
  height: 5rem;
}

.chat-input > .input{
  border: none;
  font-family: 'Roboto',sans-serif;
}

.send{
  text-decoration: none;
  font-size: 120%;
  font-family: 'Roboto',sans-serif;
  font-weight: bold;
  color: #86a5db;
  letter-spacing: 1px;
}

@media only screen and (max-width:378px){
  .header-container > .chat-container{
    width: auto;
  }
}
